<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355526621008-1i2v6f5o1dlkvs1otlbhv52cq9006k07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355526621008-1i2v6f5o1dlkvs1otlbhv52cq9006k07</string>
	<key>API_KEY</key>
	<string>AIzaSyB4b7izlaTL4nLeO36i2Xl_fF7Tq25-xKo</string>
	<key>GCM_SENDER_ID</key>
	<string>355526621008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherStation</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-c78ab</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-c78ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355526621008:ios:a15fd9a5b9451fcefede55</string>
</dict>
</plist>